@font-face{
  font-family: 'Kalam';
  src: url('./fonts/Kalam/Kalam-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'Kalam'; 
  src: url('./fonts/Kalam/Kalam-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
}

:root {
  font-family: 'Kalam', sans-serif;
  line-height: 1.5; 
  font-weight: 400;
  width: 100%;

  background-color: #C9D5FF;

  font-synthesis: none; /*Avoid navigator replace font with other if don't have it*/
  text-rendering: optimizeLegibility; /*Improve text rendering*/
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

